/* ----------------------------- Bike Diagram CSS ------------------------------------ */
.diagram{
    position: relative;
}

.diagram-icon {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: .5em solid blue;
    cursor: pointer;
    transition: .5s ease-in;
    background-color: rgb(226, 250, 245);
}

.diagram-icon:hover {
    transform: scale(10, 10);
    border: .1em solid blue;
}

/* ----------------------------- Underline Animation CSS ----------------------------- */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}



.nb-bg-color{
    background-color: rgb(93, 142, 157);
}
.footer {
    background-color: rgb(93, 142, 157);
}