/* ----------------------------- Underline Animation CSS ----------------------------- */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}



.nb-bg-color{
    background-color:#445038;
}
.footer {
    background-color: #445038;
}
/*----------------General Website Color------------------------------*/
.timeline, .main-time .cover{
    background-color:#bcd6a2;
}
/* ----------------------------- Timeline CSS ----------------------------- */
/*some timelinecode is adapted from https://bootsnipp.com/snippets/Q0ppE*/
.main-timeline{
    position:relative
    /*sets timeline to relative positioning*/
}
 .main-timeline .timeline{
    position:relative;
    margin-top:-75px;
    /*connects parts of the line together*/
}
.main-timeline .timeline:first-child{
    margin-top:15px;
     /*moves the top entry to below the navbar*/
}
 .main-timeline .timeline-icon,.main-timeline .year, .main-timeline .cover{
    margin:auto;
    position:absolute;
    top: 0;
    left:0;
    bottom:0;
    right:0;
     /*sets the icon, year, and cover of the timeline to absolute positioning*/
}

.main-timeline .timeline:after{
    content:"";
    display:block;
    width:100%;
    clear:both;
    
    
    /*positions the parts of timeline together and changes the timeline size*/
}
 .main-timeline .timeline:before{
    content:"";
    display:block;
    clear:both;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    z-index:2
     /*configures size and position of timeline elements*/
}
    .main-timeline .timeline-icon{
    width:210px;
    height:210px;
    position:absolute;
    
    border-radius:50%;
    border:20px solid transparent;
    border-top-color:#46301a;
    border-right-color:#46301a;
    transform:rotate(45deg);
    z-index:1;

    /*creates the timeline icons as a bordered semicricle*/
}
 .main-timeline .cover{
    
    width:212px;
    height:212px;
    border-radius:50%;
    border-width:thick;
    border:22px dashed  #bcd6a2;
    z-index:1;
    transform:rotate(45deg);
    animation:rotationforward 5s linear 0.33s infinite ;
    /*creates a rotating cover to make the line appear as if it was moving.*/

   
 }

 .main-timeline .year{
    
    width:110px;
    height:110px;
    line-height:110px;
    border-radius:50%;
    background:rgb(255, 255, 255);
    font-size:35px;
    font-weight:700;
    color:#46301a;
    text-align:center;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    z-index:5;
    /*creates a circle inside the icon for the year. The circle is white and can be seen by its black shadow around it*/ 
}
 .main-timeline .timeline-content{
    width: 35%;
    
    float:right;
    background:#46301a;
    padding:30px 20px;
    margin:50px 0;
    z-index:1;
    position:relative;
    
    /*creates a box for information*/ 
}
.main-timeline .timeline-content:before{
    content:"";
    width:20%;
    
    height:15px;
    border:5px dashed transparent;
    color:#46301a;
    background:#46301a;
    position:absolute;
    top:50%;
    left:-20%;
    z-index:-1;
    
    /*creates the line connecting the box to the timeline and sets it behind the box*/ 
}
 .main-timeline .title{
    font-size:20px;
    font-weight:700;
    color:#fff;
    margin:0 0 10px;
    /*timeline info header*/
}
 .main-timeline .description{
    font-size:16px;
    color:#fff;
    line-height:24px;
    margin:0
    /*timeline info text adjustment*/
}
.main-timeline .timeline:nth-child(2n) .year{
    
    color:#4a4646;
    /*rotates each year in the line and change its color*/

}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
    transform:rotate(-135deg);
    color:#4a4646;
    z-index:1;

    
    /*rotates each part of the line and change its color*/

}
.main-timeline .timeline:nth-child(2n) .timeline-content{
    float:left;
    background:#4a4646;
    
    /*floats the information on every other event to the left*/
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before{
    left:auto;
    right:-20%;
    background:#4a4646;
    /*moves the connecting line to the right on every other data*/
}
.main-timeline .timeline:nth-child(2n) .cover {
    /*animation:rotationback 5s linear infinite;*/
    transform:rotate(-135deg);
    color:#4a4646;

    animation:rotationback 5s linear infinite 0.8s;
    z-index:1;
    
    
}

@keyframes rotationforward {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
    /*creates the rotating forward animation*/
  }
  @keyframes rotationback {
    from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
        /*creates the rotating backwards animation*/

  }
  /*Makes the website responsive to any size screen*/
  @media only screen and (max-width: 1199px){
    .main-timeline .timeline{ margin-top: -103px; }
    .main-timeline .timeline-content:before{ left: -18%; }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{ right: -18%; }
}
@media only screen and (max-width: 990px){
    .main-timeline .timeline{ margin-top: -127px; }
    .main-timeline .timeline-content:before{ left: -2%; }
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{ right: -2%; }
}
@media only screen and (max-width: 767px){
    .main-timeline .timeline{
        margin-top: 0;
        overflow: hidden;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{
        box-shadow: none;
    }
    .main-timeline .year,
    .main-timeline .timeline:nth-child(2n) .year{
         text-align:center;
         bottom:150px;
        }

    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(2n) .timeline-icon{
        margin-top: 30px;
        margin-bottom: 20px;
        position: relative;
        
        
    }
    
    
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content{
        width: 100%;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto;
    }
    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before{
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,0);
    }
}
/*Controls the Famous People Cards*/
.about-author,.about-procedure {
    color: rgb(82, 81, 81);
}
.card-button {
    background:white;
    border:none;
    transform: var(--flip);
    transition: transform 250ms linear;
}
/*Creates triangle animation*/


