/* ----------------------------- Underline Animation CSS ----------------------------- */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


.nb-bg-color{
    background-color: rgb(93, 142, 157);
}
.footer {
    background-color: black;
}
/* ----------------------------- Map CSS ----------------------------- */

#map {
    height: 800px;
    /* The height is 400 pixels */
    /* The width is the width of the web page */
  }
.trail-item img {
    border-radius: 3%;
}

.trail-list {
    overflow-x:hidden;
    overflow-y:scroll;
    height:800px;
}
.showcase .container {
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mg-4841-1597155372.jpg')

}
.footer a {
    color:#fff;
}